// .modal.modal-fullscreen .modal-dialog {
//     width: 100vw;
//     height: 100vh;
//     margin: 0;
//     padding: 0;
//     max-width: none; 
//   }
  
//   .modal.modal-fullscreen .modal-content {
//     height: auto;
//     height: 100vh;
//     border-radius: 0;
//     border: none; 
//   }
  
//   .modal.modal-fullscreen .modal-body {
//     overflow-y: auto; 
//   }

//   .modal-xl .modal-lg {
//     max-width: 90%;
//   }

.card-header {
    position: relative;
    border-bottom: none !important;
}

.card-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;  // controls where the border starts
    right: 20px; // controls where the border ends
    height: 1px;
    background-color: #dee2e6; // or your preferred border color
}