.card-header {
    position: relative;
    border-bottom: none !important;
}

.card-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;  // controls where the border starts
    right: 20px; // controls where the border ends
    height: 1px;
    background-color: #dee2e6; // or your preferred border color
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    // border: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    background-color: rgb(27, 114, 200);
    color: white;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .details {
    padding-left: 20px;
    font-style: italic;
    background-color: #f1f1f1;
  }
  
  .phases-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  
  .phases-table th, .phases-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .phases-table th {
    background-color: #F6F6F6;
    color: black;
    height: 56px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 5px;
    text-align: center;
  }
  

  .expanded-row {
    border: 2px solid #007bff; 
    background-color: #f9f9f9; 
  }





  /* Base button styles */
.delete-btn {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}




/* Cancel button (Blue) */
.cancel-btn {
  background-color: #007bff; 
  color: white;
}

.cancel-btn:hover {
  background-color: #0056b3; 
}

/* Delete button (Red) */
.delete-confirm-btn {
  background-color: #dc3545; /* Bootstrap danger red */
  color: white;
}

.delete-confirm-btn:hover {
  background-color: #a71d2a; /* Darker red */
}



.expand-collapse-btn {
  background-color: #007bff; /* Bootstrap primary blue */
  color: white;
}

.expand-collapse-btn:hover {
  background-color: #0056b3; /* Darker blue */
}


.project-table tbody tr {
  border-bottom: 1px solid #ddd;
}


/* Delete button (Red) */
.delete-phase-btn {
  background-color: #dc3545; /* Bootstrap danger red */
  color: white;
  width: 100%;
}

.delete-phase-btn:hover {
  background-color: #a71d2a; /* Darker red */
}